{% extends 'main/base.html' %}

{% block title %}
{{ portf.title }}
{% endblock %}
{% block content %}
<div class="portfolio">
    <div class="portfolio-item clr">
        <div class="portfolio-single-img">
            <img src="{{ portf.image.url }}" alt="{{ portf.title }}">
        </div>
        <div class="portfolio-single-body">
            <div class="portfolio-item__company">{{ portf.title }}</div>
            <div class="portfolio-item__title">{{ portf.descr }}</div>
        </div>
    </div>
</div>
{% endblock %}